@font-face {
    font-family: HindSiliguri;
    src: url('../../fonts/HindSiliguri-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HindSiliguri;
    src: url('../../fonts/HindSiliguri-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HindSiliguri;
    src: url('../../fonts/HindSiliguri-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HindSiliguri;
    src: url('../../fonts/HindSiliguri-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: HindSiliguri;
    src: url('../../fonts/HindSiliguri-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}